@font-face {
  src: url("Poppins-Regular.50efe1f6.woff2") format("woff2"), url("Poppins-Regular.170bc99a.woff") format("woff");
  font-family: "Poppins";
  font-weight: 400;
  font-display: swap;
}
@font-face {
  src: url("Poppins-Medium.d24fff66.woff2") format("woff2"), url("Poppins-Medium.54e6dfbb.woff") format("woff");
  font-family: "Poppins";
  font-weight: 500;
  font-display: swap;
}
@font-face {
  src: url("Poppins-SemiBold.de8677c0.woff2") format("woff2"), url("Poppins-SemiBold.82d4662a.woff") format("woff");
  font-family: "Poppins";
  font-weight: 600;
  font-display: swap;
}
@font-face {
  src: url("Poppins-Bold.2c6c584e.woff2") format("woff2"), url("Poppins-Bold.7a440e82.woff") format("woff");
  font-family: "Poppins";
  font-weight: 700;
  font-display: swap;
}
@font-face {
  src: url("Rubik-Light.beb7160b.woff2") format("woff2"), url("Rubik-Light.40abf921.woff") format("woff");
  font-family: "Rubik";
  font-weight: 300;
  font-display: swap;
}
@font-face {
  src: url("Rubik-Regular.bc1d5300.woff2") format("woff2"), url("Rubik-Regular.262ce898.woff") format("woff");
  font-family: "Rubik";
  font-weight: 400;
  font-display: swap;
}
@font-face {
  src: url("Rubik-Bold.a421de3e.woff2") format("woff2"), url("Rubik-Bold.3361937a.woff") format("woff");
  font-family: "Rubik";
  font-weight: 700;
  font-display: swap;
}
:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-white-dark: #fbfbfb;
  --color-white-darker: #edeeef;
  --color-blue-ribbon: #3355ff;
  --color-blue-ribbon-light: #4867ff;
  --color-blue-ribbon-lighter: #3f60fe;
  --color-torea-bay: #122791;
  --color-torea-bay-light: #1631b6;
  --color-outer-space: #343a40;
  --color-outer-space-light: #808080;
  --color-outer-space-lighter: #b8b8b8;
  --color-outer-space-lighten: #e3e5e6;
  --header-shadow: 0px 0px 34px rgba(208, 208, 208, 0.4);
  --benchmark-shadow: 0px 0px 34px rgba(208, 208, 208, 0.4);
  --benchmark-bottom-color: #d3d2f3;
  --scope-icon-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  --scope-block-shadow: 0px 0px 34px rgba(0, 0, 0, 0.1);
  --poppins-font: "Poppins", "Arial", sans-serif;
  --rubik-font: "Rubik", "Arial", sans-serif;
  --header-bg: var(--color-white);
  --section-bg: var(--color-white-dark);
  --text-color: var(--color-outer-space);
  --text-hover-color: var(--color-blue-ribbon);
  --btn-blue-bg: var(--color-blue-ribbon);
  --btn-blue-bg-hover: var(--color-torea-bay-light);
  --btn-blue-bordered-bg: var(--color-blue-ribbon-light);
  --btn-blue-bordered-bg-hover: var(--color-blue-ribbon-lighter);
  --features-icon-color: var(--color-blue-ribbon);
  --presentation-bg: var(--color-blue-ribbon-light);
  --footer-bg: var(--color-torea-bay);
  --footer-text-color: var(--color-white);
  --scroll-icon-color: var(--color-blue-ribbon);
  --burger-btn-color: var(--color-black);
  --burger-btn-hover-color: var(--color-blue-ribbon);
  --input-bg: var(--color-white-darker);
  --input-border-color: var(--color-outer-space-lighten);
  --input-hover-border-color: var(--color-torea-bay-light);
  --placeholder-text-color: var(--color-outer-space-light);
  --note-form-text-color: var(--color-outer-space-light);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin: 0;
  min-width: 320px;
}
.js-menu-open body {
  overflow: hidden;
  height: 100%;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: currentColor;
  text-decoration: none;
}
.container {
  min-width: 320px;
  padding: 0 12px;
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1032px;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1175px;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.btn-blue {
  padding: 0;
  border: none;
  background: none;
  font: inherit;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 20px;
  font-family: var(--poppins-font);
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  min-height: 56px;
  width: 276px;
  color: var(--color-white);
  background-color: var(--btn-blue-bg);
  border-radius: 4px;
  transition: background-color 0.1s ease;
}
.btn-blue:hover, .btn-blue:focus {
  background-color: var(--btn-blue-bg-hover);
}
.btn-blue--bordered {
  background-color: var(--btn-blue-bordered-bg);
  box-shadow: 0 0 0 2px inset var(--color-white);
}
.btn-blue--bordered:hover, .btn-blue--bordered:focus {
  background-color: var(--btn-blue-bordered-bg-hover);
}
.btn-blue--with-arrow::after {
  flex-shrink: 0;
  display: inline-block;
  content: "";
  width: 62px;
  height: 16px;
  margin-left: 8px;
  background-image: url("icon-btn-arrow.5029e183.svg");
  background-position: center;
  background-repeat: no-repeat;
  transition: margin-left 0.1s ease-in-out;
}
.btn-blue--with-arrow:hover::after, .btn-blue--with-arrow:focus::after {
  margin-left: 18px;
}
.header {
  background-color: var(--header-bg);
  min-height: 52px;
  padding: 9px 0;
  display: flex;
  align-items: center;
  box-shadow: var(--header-shadow);
}
.header__wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo-link {
  position: relative;
  display: flex;
  align-items: center;
  width: 182px;
  height: 25px;
  padding-left: 40px;
}
.header__logo-link::before {
  content: "";
  width: 34px;
  height: 34px;
  background-image: url("header-logo.6b0ab2cf.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  position: absolute;
  left: 0;
}
.header-menu {
  display: flex;
}
.header-menu__toggle {
  padding: 0;
  border: none;
  background: none;
  font: inherit;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 34px;
  height: 26px;
}
.header-menu__toggle span {
  width: 34px;
  height: 3px;
  background-color: var(--burger-btn-color);
  border-radius: 20px;
  transition: all 0.25s ease-in-out;
}
.header-menu__toggle span:nth-child(3) {
  position: absolute;
  top: calc(50% - 1.5px);
}
.header-menu__toggle:hover span, .header-menu__toggle:focus span {
  background-color: var(--burger-btn-hover-color);
}
@media (min-width: 1200px) {
  .header-menu__toggle {
    display: none;
  }
}
.js-menu-open .header-menu__toggle {
  position: absolute;
  top: 13px;
  right: 12px;
  z-index: 6;
}
.js-menu-open .header-menu__toggle span:nth-child(1),
.js-menu-open .header-menu__toggle span:nth-child(4) {
  opacity: 0;
}
.js-menu-open .header-menu__toggle span:nth-child(3) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.js-menu-open .header-menu__toggle span:nth-child(2) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
@media (max-width: 1199px) {
  .header-menu__wrapper {
    display: flex;
    justify-content: center;
    padding: 0 43px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    -webkit-transform: translateY(-700px);
            transform: translateY(-700px);
    background-color: var(--color-white);
    transition: opacity 0.1s ease-in-out, -webkit-transform 0.3s ease-out;
    transition: opacity 0.1s ease-in-out, transform 0.3s ease-out;
    transition: opacity 0.1s ease-in-out, transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    z-index: -1;
  }
}
@media (min-width: 1200px) {
  .header-menu__wrapper {
    max-width: 700px;
  }
}
.js-menu-open .header-menu__wrapper {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  z-index: 5;
}
.header-menu__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto 0;
  font-family: var(--poppins-font);
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: var(--text-color);
}
@media (min-width: 1200px) {
  .header-menu__list {
    flex-wrap: wrap;
    flex-direction: row;
    font-size: 14px;
    line-height: 21px;
    height: 100%;
  }
}
@media (max-width: 1199px) {
  .header-menu__item:not(:last-child) {
    margin-bottom: 40px;
  }
}
@media (min-width: 1200px) {
  .header-menu__item {
    margin-left: 40px;
  }
}
.header-menu__link {
  transition: color 0.2s ease-in-out;
}
.header-menu__link:hover, .header-menu__link:focus {
  color: var(--text-hover-color);
}
.hero {
  padding: 75px 0 60px;
  font-family: var(--rubik-font);
  color: var(--text-color);
  background-image: url("hero-bg.9e66006b.png");
  background-repeat: no-repeat;
  background-position: -493px -312px;
}
@media (min-width: 768px) {
  .hero {
    padding: 75px 0 162px;
    background-position: -312px -308px;
  }
}
@media (min-width: 1200px) {
  .hero {
    padding: 182px 0 196px;
    background-position: 100%;
  }
}
.hero__title {
  margin: 0 0 10px;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.02em;
}
@media (min-width: 768px) {
  .hero__title {
    font-size: 22px;
    line-height: 26px;
  }
}
.hero__title-big {
  margin: 0 0 5px;
  font-weight: bold;
  font-size: 58px;
  line-height: 63px;
  letter-spacing: 0.03em;
}
@media (min-width: 768px) {
  .hero__title-big {
    font-size: 74px;
    line-height: 88px;
  }
}
.hero__description {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.01em;
}
@media (min-width: 768px) {
  .hero__description {
    font-size: 20px;
    line-height: 24px;
  }
}
.hero__link {
  margin: 100px 0 12px;
  width: 100%;
}
@media (min-width: 1200px) {
  .hero__link {
    display: inline-flex;
    width: 276px;
  }
}
.hero__counter {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero__counter::before {
  flex-shrink: 0;
  content: "";
  display: inline-block;
  width: 39px;
  height: 25px;
  margin-right: 8px;
  background-image: url("icon-people.10c90a06.svg");
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-width: 1200px) {
  .hero__counter {
    display: inline-flex;
    padding-left: 24px;
    vertical-align: middle;
  }
}
.benchmark {
  padding-bottom: 50px;
}
.benchmark-list {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(296px, 1fr));
  justify-content: center;
  row-gap: 24px;
  margin: 0;
  -webkit-column-gap: 24px;
          column-gap: 24px;
  padding: 60px 0 0;
}
@media (min-width: 768px) {
  .benchmark-list {
    padding-top: 0;
    margin-top: -87px;
  }
}
@media (min-width: 1200px) {
  .benchmark-list {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
    max-width: 1175px;
    padding: 0;
  }
}
.benchmark-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  padding: 44px 15px;
  border-radius: 4px;
  background-color: var(--color-white);
  box-shadow: var(--benchmark-shadow);
}
.benchmark-item::before {
  position: absolute;
  content: "";
  width: 100%;
  right: 0;
  left: 0;
  bottom: 0;
  height: 5px;
  opacity: 0.5;
  border-radius: 0 0 4px 4px;
  background-color: var(--benchmark-bottom-color);
}
.benchmark-item dt {
  font-family: var(--poppins-font);
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}
.benchmark-item dd {
  margin: 0;
  text-align: center;
  font-family: var(--rubik-font);
  font-weight: 700;
  font-size: 42px;
  line-height: 50px;
}
.scope {
  background-color: var(--section-bg);
  padding: 50px 0 60px;
}
.scope__title {
  font-family: var(--rubik-font);
  margin: 0 0 73px;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: var(--text-color);
  grid-column: 1/-1;
}
@media (min-width: 1200px) {
  .scope__title {
    -ms-grid-column: 1;
    grid-column: 1/1;
    -ms-grid-row: 1;
    grid-row: 1/1;
  }
}
@media (min-width: 768px) {
  .scope__wrapper {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    align-items: start;
    -webkit-column-gap: 24px;
            column-gap: 24px;
  }
}
@media (min-width: 1200px) {
  .scope__wrapper {
    -ms-grid-columns: (328px)[3];
    grid-template-columns: repeat(3, 328px);
  }
}
@media (min-width: 1440px) {
  .scope__wrapper {
    -ms-grid-columns: (376px)[3];
    grid-template-columns: repeat(3, 376px);
  }
}
.scope__item {
  position: relative;
  color: var(--text-color);
  font-family: var(--poppins-font);
  padding: 60px 20px 40px 24px;
  box-shadow: var(--scope-block-shadow);
}
@media (min-width: 1200px) {
  .scope__item {
    max-width: 376px;
  }
}
.scope__item:not(:last-child) {
  margin-bottom: 60px;
}
.scope__item::before {
  content: "";
  position: absolute;
  top: -40px;
  left: 24px;
  width: 81px;
  height: 81px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--color-white);
  box-shadow: var(--scope-icon-shadow);
}
.scope__item--trends::before {
  background-image: url("icon-trends.9b85bc4c.svg");
}
.scope__item--profit::before {
  background-image: url("icon-profit.dcba5950.svg");
}
.scope__item--volatility::before {
  background-image: url("icon-volatility.c901e82d.svg");
}
.scope__item--levels::before {
  background-image: url("icon-levels.8613fe20.svg");
}
.scope__item--view::before {
  background-image: url("icon-view.8ef16f4e.svg");
}
.scope__paragraph:not(:last-child) {
  margin-bottom: 12px;
}
.scope__lead {
  margin: 0 0 5px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.01em;
}
.scope__description {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
.features {
  padding: 60px 0 70px;
}
@media (min-width: 768px) {
  .features {
    padding: 100px 0;
  }
}
@media (min-width: 1200px) {
  .features {
    padding: 105px 0 188px;
  }
}
@media (min-width: 1440px) {
  .features {
    padding: 100px 0 230px;
  }
}
.features__title {
  margin: 0 0 32px;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
}
@media (min-width: 768px) {
  .features__title {
    margin: 0 0 40px;
    font-size: 42px;
    line-height: 50px;
  }
}
.features__item {
  position: relative;
  margin-bottom: 32px;
  font-family: var(--poppins-font);
  min-height: 296px;
  color: var(--text-color);
}
.features__item:last-child {
  margin-bottom: 0;
}
.features__item::before {
  content: "";
  display: block;
  width: 296px;
  height: 189px;
  margin-bottom: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
@media (min-width: 1200px) {
  .features__item::before {
    position: absolute;
    right: 0;
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .features__item {
    margin-bottom: 75px;
  }
}
@media (min-width: 1200px) {
  .features__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 508px;
  }
}
.features__item--increase::before {
  background-image: url("features-image-1.b25e7400.svg");
}
@media (min-width: 768px) {
  .features__item--increase::before {
    width: 360px;
    height: 230px;
  }
}
.features__item--risk-management::before {
  background-image: url("features-image-2.eb5e0c43.svg");
}
@media (min-width: 768px) {
  .features__item--risk-management::before {
    width: 364px;
    height: 233px;
  }
}
@media (min-width: 1200px) {
  .features__item--risk-management {
    padding: 0 0 0 508px;
  }
  .features__item--risk-management::before {
    left: 0;
    right: unset;
  }
}
.features__item--reducing::before {
  background-image: url("features-image-3.76017780.svg");
}
@media (min-width: 768px) {
  .features__item--reducing::before {
    width: 360px;
    height: 195px;
  }
}
.features__item-title {
  margin: 0 0 12px;
  font-weight: 600;
  font-size: 24px;
  line-height: 37px;
}
@media (min-width: 1200px) {
  .features__item-title {
    max-width: 500px;
  }
}
.features__item-text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.presentation {
  position: relative;
  padding: 74px 0;
  font-family: var(--rubik-font);
  background-color: var(--presentation-bg);
  color: var(--color-white);
  background-image: url("presentation-bg.1a94d82a.svg");
  background-repeat: no-repeat;
  background-position: right -301px;
}
@media (min-width: 768px) {
  .presentation {
    padding: 44px 0;
    margin-bottom: 53px;
  }
}
@media (min-width: 1200px) {
  .presentation {
    padding: 60px 0;
    margin-bottom: 70px;
  }
}
@media (min-width: 1440px) {
  .presentation {
    padding: 88px 0;
    margin-bottom: 95px;
  }
}
.presentation__title {
  margin: 0 0 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.02em;
}
@media (min-width: 768px) {
  .presentation__title {
    margin: 0 0 5px;
    font-size: 24px;
    line-height: 28px;
  }
}
.presentation__title-big {
  margin: 0 0 15px;
  font-weight: 700;
  font-size: 58px;
  line-height: 69px;
  letter-spacing: 0.03em;
}
@media (min-width: 768px) {
  .presentation__title-big {
    font-size: 60px;
    line-height: 71px;
    margin: 0 0 24px;
  }
}
@media (min-width: 1200px) {
  .presentation__title-big {
    margin: 0 0 20px;
  }
}
.presentation__img {
  position: absolute;
  top: -50px;
  right: 5px;
  width: 147px;
  height: 138px;
}
@media (min-width: 768px) {
  .presentation__img {
    width: 356px;
    height: 381px;
    top: -75px;
  }
}
@media (min-width: 1200px) {
  .presentation__img {
    width: 480px;
    height: 474px;
    right: 115px;
    top: -124px;
  }
}
@media (min-width: 1440px) {
  .presentation__img {
    width: 555px;
    height: 549px;
  }
}
.partners {
  color: var(--text-color);
  padding: 60px 0 60px;
}
@media (min-width: 768px) {
  .partners {
    padding: 60px 0 100px;
  }
}
@media (min-width: 1200px) {
  .partners {
    padding: 70px 0 100px;
  }
}
@media (min-width: 768px) {
  .partners__wrapper {
    align-items: start;
    -webkit-column-gap: 24px;
            column-gap: 24px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 232px 1fr;
    grid-template-columns: 232px 1fr;
    -ms-grid-rows: minmax(50px, auto) minmax(48px, auto) auto;
    grid-template-rows: minmax(50px, auto) minmax(48px, auto) auto;
  }
}
@media (min-width: 1200px) {
  .partners__wrapper {
    -ms-grid-columns: 295px 1fr;
    grid-template-columns: 295px 1fr;
  }
}
.partners__title {
  font-family: var(--rubik-font);
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  margin: 0 0 16px;
}
@media (min-width: 768px) {
  .partners__title {
    font-size: 42px;
    line-height: 50px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
}
.partners__description {
  font-family: var(--poppins-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0 0 32px;
}
@media (min-width: 768px) {
  .partners__description {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
}
.partners__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .partners__list {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, auto));
    -webkit-column-gap: 20px;
            column-gap: 20px;
    row-gap: 25px;
    align-items: stretch;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    grid-row: 1/-1;
  }
}
@media (min-width: 1200px) {
  .partners__list {
    -ms-grid-columns: (-webkit-max-content)[3];
    -ms-grid-columns: (max-content)[3];
    grid-template-columns: repeat(3, -webkit-max-content);
    grid-template-columns: repeat(3, max-content);
    -webkit-column-gap: 25px;
            column-gap: 25px;
  }
}
.partners__item {
  margin-bottom: 55px;
}
.partners__item:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .partners__item {
    margin: 0;
    -ms-grid-row-align: end;
        align-self: end;
  }
}
@media (min-width: 768px) {
  .partners__item--binance {
    -ms-grid-row-align: center;
        align-self: center;
  }
}
@media (min-width: 768px) {
  .partners__item--bitfinex {
    -ms-grid-row-align: center;
        align-self: center;
  }
}
@media (min-width: 1200px) {
  .partners__item--bitfinex {
    -ms-grid-row-align: end;
        align-self: end;
  }
}
@media (min-width: 1200px) {
  .partners__item--huobi {
    -ms-grid-row-align: center;
        align-self: center;
  }
}
@media (min-width: 768px) {
  .partners__item--binance .partners__logo {
    width: 197px;
    height: 39px;
  }
}
@media (min-width: 768px) {
  .partners__item--huobi .partners__logo {
    width: 249px;
    height: 37px;
  }
}
@media (min-width: 768px) {
  .partners__item--okex .partners__logo {
    width: 172px;
    height: 55px;
  }
}
@media (min-width: 768px) {
  .partners__item--bitfinex .partners__logo {
    width: 231px;
    height: 27px;
  }
}
@media (min-width: 768px) {
  .partners__item--hitbtc .partners__logo {
    width: 185px;
    height: 78px;
  }
}
@media (min-width: 768px) {
  .partners__item--bitstamp .partners__logo {
    width: 153px;
    height: 35px;
  }
}
.partners__link {
  display: inline-block;
}
.partners__logo {
  opacity: 0.7;
  transition: opacity 0.05s ease-in;
}
.partners__link:hover .partners__logo,
.partners__link:focus .partners__logo {
  opacity: 1;
}
.feedback-form {
  background-color: var(--section-bg);
  color: var(--text-color);
  font-family: var(--poppins-font);
  padding: 60px 0 60px;
}
@media (min-width: 768px) {
  .feedback-form {
    padding: 100px 0;
  }
}
.feedback-form--sent {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 205px 0 83px;
  position: relative;
}
.feedback-form--sent::before {
  background-image: url("icon-success.78739dc7.svg");
  background-position: center;
  background-repeat: no-repeat;
  content: "";
  height: 82px;
  left: 50%;
  position: absolute;
  top: 83px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 82px;
}
@media (min-width: 768px) {
  .feedback-form--sent::before {
    height: 100px;
    top: 172px;
    width: 100px;
  }
}
@media (min-width: 1200px) {
  .feedback-form--sent::before {
    top: 142px;
  }
}
@media (min-width: 768px) {
  .feedback-form--sent {
    padding: 300px 0 235px;
  }
}
@media (min-width: 1200px) {
  .feedback-form--sent {
    padding: 260px 0 154px;
  }
}
@media (min-width: 1200px) {
  .feedback-form__wrapper {
    align-items: start;
    -webkit-column-gap: 55px;
            column-gap: 55px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 272px 1fr;
    grid-template-columns: 272px 1fr;
    -ms-grid-rows: minmax(100px, auto) minmax(48px, auto) auto;
    grid-template-rows: minmax(100px, auto) minmax(48px, auto) auto;
  }
}
@media (min-width: 1440px) {
  .feedback-form__wrapper {
    -ms-grid-columns: 371px 1fr;
    grid-template-columns: 371px 1fr;
    -ms-grid-rows: minmax(50px, auto) minmax(25px, auto) auto;
    grid-template-rows: minmax(50px, auto) minmax(25px, auto) auto;
  }
}
.feedback-form__alert-message {
  font-family: var(--rubik-font);
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  margin: 0 0 36px;
  text-align: center;
}
@media (min-width: 768px) {
  .feedback-form__alert-message {
    font-size: 24px;
    font-weight: 600;
    line-height: 37px;
    margin: 0 0 40px;
  }
}
@media (min-width: 1440px) {
  .feedback-form__alert-message {
    font-size: 42px;
    font-weight: 700;
    line-height: 50px;
  }
}
.feedback-form__alert-button {
  width: 100%;
}
@media (min-width: 768px) {
  .feedback-form__alert-button {
    margin: 0 auto;
    width: 200px;
  }
}
.feedback-form__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  margin: 0 0 16px;
}
@media (min-width: 768px) {
  .feedback-form__title {
    font-size: 42px;
    line-height: 50px;
  }
}
@media (min-width: 1200px) {
  .feedback-form__title {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
}
.feedback-form__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0 0 32px;
}
@media (min-width: 768px) {
  .feedback-form__description {
    margin: 0 0 24px;
  }
}
@media (min-width: 1200px) {
  .feedback-form__description {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
}
.feedback-form__form {
  color: var(--placeholder-text-color);
}
@media (min-width: 768px) {
  .feedback-form__form {
    -webkit-column-gap: 24px;
            column-gap: 24px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1200px) {
  .feedback-form__form {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    grid-row: 1/-1;
  }
}
.feedback-form__field {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.feedback-form__field--name,
.feedback-form__field--email,
.feedback-form__message-wrapper {
  background-color: var(--input-bg);
  border: 1px solid var(--input-border-color);
  font: inherit;
  height: 60px;
  margin-bottom: 16px;
  padding: 20px 24px;
  width: 100%;
}
.feedback-form__field--name::-webkit-input-placeholder, .feedback-form__field--email::-webkit-input-placeholder, .feedback-form__message-wrapper::-webkit-input-placeholder {
  color: var(--placeholder-text-color);
}
.feedback-form__field--name:-ms-input-placeholder, .feedback-form__field--email:-ms-input-placeholder, .feedback-form__message-wrapper:-ms-input-placeholder {
  color: var(--placeholder-text-color);
}
.feedback-form__field--name::placeholder,
.feedback-form__field--email::placeholder,
.feedback-form__message-wrapper::placeholder {
  color: var(--placeholder-text-color);
}
.feedback-form__field--name:hover, .feedback-form__field--name:focus,
.feedback-form__field--email:hover,
.feedback-form__field--email:focus,
.feedback-form__message-wrapper:hover,
.feedback-form__message-wrapper:focus {
  border-color: var(--input-hover-border-color);
  outline: none;
}
.feedback-form__message-wrapper {
  height: 234px;
  padding: 20px 24px 55px;
  position: relative;
}
.feedback-form__message-wrapper:focus-within {
  border-color: var(--input-hover-border-color);
  outline: none;
}
@media (min-width: 768px) {
  .feedback-form__message-wrapper {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
}
.feedback-form__field--message {
  background-color: var(--input-bg);
  border: none;
  font: inherit;
  height: 100%;
  padding: 0;
  resize: none;
  width: 100%;
}
.feedback-form__field--message::-webkit-input-placeholder {
  color: var(--placeholder-text-color);
}
.feedback-form__field--message:-ms-input-placeholder {
  color: var(--placeholder-text-color);
}
.feedback-form__field--message::placeholder {
  color: var(--placeholder-text-color);
}
.feedback-form__field--message:focus {
  outline: none;
}
.feedback-form__message-counter {
  bottom: 21px;
  font-size: 16px;
  line-height: 24px;
  position: absolute;
  right: 28px;
}
.feedback-form__note {
  margin: 0 0 12px;
}
.feedback-form__note strong {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
@media (min-width: 768px) {
  .feedback-form__note {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
}
.feedback-form__submit {
  width: 100%;
}
@media (min-width: 768px) {
  .feedback-form__submit {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
}
@media (min-width: 1200px) {
  .feedback-form__submit {
    width: 276px;
  }
}
.footer {
  padding: 32px 0;
  background-color: var(--footer-bg);
  font-family: var(--poppins-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--footer-text-color);
}
.footer__agreement,
.footer__copyright,
.footer__mail {
  margin: 0;
}
.footer__agreement,
.footer__copyright {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .footer__agreement {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .footer__agreement {
    width: 25%;
    margin-bottom: 0;
  }
}
.footer__copyright {
  margin-bottom: 0;
}
@media (max-width: 1199px) {
  .footer__copyright {
    order: 3;
  }
}
@media (min-width: 1200px) {
  .footer__copyright {
    width: 50%;
    text-align: center;
  }
}
@media (min-width: 768px) {
  .footer__mail {
    width: 50%;
    text-align: right;
  }
}
@media (min-width: 1200px) {
  .footer__mail {
    width: 25%;
  }
}
@media (min-width: 768px) {
  .footer__wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  .footer__wrapper {
    justify-content: space-between;
  }
}
/*# sourceMappingURL=index.d8bf147a.css.map */
